@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#goals {
    width: 100%;
    padding: 1rem;
    font-weight: bold;
}

#money {
    position: relative;
    background-color: #DDD;
    width: 25%;
    height: 30px;
    margin-left: 20px;
}

#money_progress {
    background-color: #0F0;
}

#money_progress, #money_indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
} 

#money_indicator {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}

#controls fieldset {
    width: 200px;
    font-family: 'Patrick Hand', cursive;
}

#controls fieldset option {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5em;
}

#controls fieldset option:active, 
#controls fieldset option:focus,
#controls fieldset option:focus-visible {
    background-color: transparent;
    outline: 0;
    border: 0;
}

#donation_list_fieldset {
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

#donation_list_fieldset legend {
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: transparent; 
}

#donation_list {
    background-color: transparent;
    border: 0;
    scrollbar-color: transparent;
}

#donation_list, #alert_list {
    width: 100%;
}

#controls fieldset {
    display: inline-block;
    height: 100%;
    outline: none;
}

#controls fieldset select:focus-visible {
    outline: none;
    border: 0;
}

#donation-alert {
    display: block;
    background-color: #1e1e1e;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #FFF;
    border-radius: 0.5rem;
    align-self: center;
}

#donation-alert .name {
    color: #cd88fb;
    font-family: 'Patrick Hand', cursive;
}

#donation-alert .amount {
    color: #cd88fb;
    font-family: 'Patrick Hand', cursive;
}

#donation-alert .amount {
    color: #cd88fb;
    font-family: 'Patrick Hand', cursive;
}

#donation-alert .message {
    display: block;
    margin: 1rem 2rem 0;
    font-size: 1.5rem;
    font-weight: normal;
}

#skip, #reset {
    user-select: none;
}

#skip:hover, #reset:hover {
    cursor: pointer;
    background-color: #ccc;
}

.pulse {
    animation: appear 10s linear;
}

.hidden {
    display: none !important;
}

.reset {
    transform: scale(0);
    opacity: 0;
}

@keyframes appear {
    0% { transform: scale(0); opacity: 0;}
    3% { transform: scale(1.2); opacity: 1; }
    5% { transform: scale(1); }
    95% { opacity: 1; }
    100% { opacity: 0; }
}

#controls {
    position: absolute;
    bottom: 0;
    right: 0;
}